<%- include layout/head.ejs %>
<body class="skin-blue">
<!-- Main Header -->
<%- include layout/header.ejs %>
<%- include layout/sidebar.ejs %>

<div class="content-wrapper">
    <h1>欢迎使用!</h1>
</div>

</body>