<%- include layout/head.ejs %>
<body class="skin-blue">
<!-- Main Header -->
<%- include layout/header.ejs %>
<%- include layout/sidebar.ejs %>
<script src="/public/jsonview/jquery.jsonview.js" type="text/javascript"></script>

<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
<textarea class="form-control" rows="16" id="json" name="json">

</textarea>
        </div>

    </div>
    <button class="btn btn-primary" onclick="jsonView()">格式化</button>
</div>
<script type="text/javascript">
    function jsonView() {
        var json = {a: 1};
        $("#json").JSONView(json);
    }
</script>
</body>