<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>toolkit</title>
    <%- include layout/asset.ejs %>
</head>
<body class="skin-blue">
<!-- Main Header -->
<%- include layout/header.ejs %>
<%- include layout/sidebar.ejs %>


</body>